.heading{
    text-align: center;
}
.page{
    width: 100vw;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    margin: 30px;
    padding: 50px;
    gap:40px;
}
.heading{
    color: white;
    padding-top: 100px;
    
}
